header  {
            padding: 40px 15%;
            background-color: brown;
            }

h1 {
    color:black;
    font-size: 70px;
    text-align: center
}

body {
    background-color: #fff1a6;
    line-height: 1.5;
    font-size: 20px;
    margin: 0;
    text-color: brown;
}

.menu {
    margin: 0;
    padding: 0;
    text-align:center
}

.menu li {
     display: inline-block;
     color:green;
     text-align: center
}

.menu a {
    display: inline-block;
    color: green;
    text-decoration: none;
    padding: 20px; 30px;
}

.text {
    color:brown
}

h2 {
 color: black;
  font-size: 34px;
}

.copyright {
   color:black
}

section {
   padding: 30px 15%
   }
