h1 {color:black
    font-size: 90px;
    text-align: center
}

body {
  background-color: #fff1a6
}
.DevTools,
.XMLaJSON {background-color: #fff1a6}

.Postman,
.czechitas {background-color: #f9e3d0}

.DevTools h2 {
  color: darkorange
}

.Postman h2 {
  color: darkgoldenrod
}

.XMLaJSON h2 {
  color: darkkhaki
}

.XML {
  color: chocolate
}

.JSON {
  color: darkred
}

.Postman img {
  width: 90%;
}
